<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.womensafety">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Settings"/>
        <activity android:name=".Display"/>
        <activity android:name=".Register"/>
        <activity android:name=".NGOInfo" />
        <activity android:name=".NGO" />
        <activity android:name=".IAmSafe" />
        <activity android:name=".AudioEmail" />
        <activity android:name=".TrickDisplay" />
        <activity android:name=".Tricks" />
        <activity android:name=".Instructions" />
        <activity android:name=".Verify" />
        <activity
            android:name=".VoiceCallActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".RecieveCall"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".Start" />
        <activity android:name=".Welcome"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".CallReciever">
            <intent-filter>
                <action android:name="FakeCall" />
            </intent-filter>
        </receiver>

        <service android:name=".ShakeService" />
        <service android:name=".LocationTrack" />
    </application>

</manifest>